* {
        box-sizing: border-box;
}
body {
        background: linear-gradient(to top, purple, blue, green, yellow, green, blue, purple);
        font-family: 'Indie Flower', cursive;
        color: #FFF;
        margin-before: none;
}
        .hero {
        background: rgba(1,0,0,0.5);
        border-radius: 0 0 20px 20px;
        box-shadow: 5px 5px rgba(0,0,0,0.8);
        width: 70%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
        padding: 30px;
}
.song {
        display: flex;
        justify-content: center;
        padding: 25px;
}
.container {
        padding: 20px;
}
.song-background {
        display: flex;
        justify-content: center;
        flex-direction: column;
        background: rgba(0,0,0,0.5);
        width: 50%;
        box-shadow: 5px 5px rgba(0,0,0,0.8);
        border-radius: 5%;
}
.title {
        text-align: center;
}
.song-text, .footer {
        text-align: center;
}

